font-family: 'Noto Serif', serif;

font-family: 'Source Sans Pro', sans-serif;

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 50px);
    font-family: 'Noto Serif', serif;
}

.nav {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: red;
}

.content {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 15;
    background-color: blue;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 15;
    grid-row-end: 16;
    background-color: green;
}
body {
    background-color:#e5dada;
    
    color: #002642;
}

.nav>ul>li {
    list-style: none;
}

li>a {
    text-decoration: none;
}

h1 {
    color: #e59500;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    color: #002642;
}

a:visited {
    color: #002642; 
}

.lcontrast:link {
    color: #e59500;
}

.lcontrast:visited {
    color: #e59500;
}

#myface {
    width: 300px;
    
   
  
}
