font-family: 'Noto Serif', serif;

font-family: 'Source Sans Pro', sans-serif;

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 50px);
    font-family: 'Noto Serif', serif;
    color: #334259;
}

.nav {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: #6e8783;
}

.nav>ul {
    display: flex;
    flex-direction: row;
}

.nav>ul>li {
    list-style: none;
    margin-right: 10px;
}

li>a {
    text-decoration: none;
}

.content {
    grid-column: 1 / 6;
    grid-row: 2 / 15;
    background-color: #e5e5dc;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 15;
    z-index: 2;
    background-color: #edddd0;
}

.footer {
    grid-column: 1 / 6;
    grid-row: 15 / 16;
    background-color: #6e8783;
}

footer>p {
    margin-left: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    color: #db504a;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10px;
}

#myinfo {
    display: flex;
    flex-direction: row;
}

#myface {
    width: 300px;
}

a:link {
    color: #334259;
}

a:visited {
    color: #334259; 
}

.lcontrast:link {
    color: #db504a;
}

.lcontrast:visited {
    color: #db504a;
}


