font-family: 'Noto Serif', serif;

font-family: 'Source Sans Pro', sans-serif;

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 50px);
    font-family: 'Noto Serif', serif;
    color: #334259;
}

.nav {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #6e8783;
}

.nav>ul {
    display: flex;
    flex-direction: row;
}
.content {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 15;
    background-color: #e5e5dc;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 15;
    grid-row-end: 16;
    background-color: #6e8783;
}

footer>p {
    margin-left: 40px;
}

.nav>ul>li {
    list-style: none;
    margin-right: 10px;
}

li>a {
    text-decoration: none;
}

h1 {
    color: #e59500;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    color: #334259;
}

a:visited {
    color: #334259; 
}

.lcontrast:link {
    color: #db504a;
}

.lcontrast:visited {
    color: #db504a;
}

#myface {
    width: 300px;
}
